:root {
   --primary-color-light: rgba(119, 0, 255, 10%);
   --primary-color: #7700ff;
   --primary-color-dark: hsl(268, 100%, 30%);
   --white-color: #fff;
   --light-color: #fafbfc;
   --dark-color: #0f0f0f;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   margin: 0;
   font-family: "Archivo", sans-serif;
   background: var(--light-color);
   color: var(--dark-color);
   font-size: 16px;
   padding-block: 1rem;
}

a {
   text-decoration: none;
}

.container {
   max-width: 1300px;
   margin-inline: auto;
   padding-inline: 20px;
}

.header {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-block: 1rem 3rem;
   position: relative;
}

.header .ctaWrapper {
   display: flex;
   align-items: center;
   gap: 2rem;
}

.header .ctaWrapper .welcomeText {
   font-weight: 300;
}

.header .ctaWrapper .welcomeText b {
   font-weight: 500;
}

.ctaWrapper a,
.linkBtn {
   text-transform: capitalize;
   color: var(--primary-color);
   line-height: 100%;
}

.ctaWrapper a:hover,
.linkBtn:hover {
   text-decoration: underline;
}

.ctaWrapper .logout {
   color: red;
}

.heading {
   line-height: 100%;
   font-weight: bold;
   margin: 0;
}

.heading.heading-two {
   font-size: 1.1rem;
}

.addItemFloating {
   position: fixed;
   right: 2vw;
   bottom: 2vw;
   z-index: 1000;
   border-radius: 100%;
   display: block;
   height: 50px !important;
   aspect-ratio: 1 / 1;
   padding: 0;
}

.btn {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.25rem;
   line-height: 100%;
   border: none;
   box-shadow: none;
   outline: none;
   font-size: 1rem;
   height: 40px;
}

.btn.btn-primary:hover {
   background: var(--primary-color-dark);
}

.btn.btn-primary {
   background: var(--primary-color);
   color: var(--white-color);
}

.btn.btn-secondary {
   color: var(--primary-color);
   background: var(--primary-color-light);
}
.btn.btn-secondary.btn-danger {
   color: red;
   background: rgba(255, 0, 0, 0.1);
}
.btn.btn-secondary.btn-danger:hover {
   color: red;
   background: rgba(255, 0, 0, 0.2);
}

.btn.btn-secondary:hover {
   color: var(--white-color);
   background: var(--primary-color);
}

.btn.login-btn {
   height: initial;
   padding: 1rem 2rem;
   min-width: 200px;
}

.linkBtn {
   padding: 0;
   border: none;
   box-shadow: none;
   background: transparent;
   display: flex;
   align-items: center;
   gap: 0.25rem;
}

.linkBtn.danger {
   color: red;
}

.card {
   border-radius: 0.5rem;
   background: var(--white-color);
   padding: 1.25rem;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);
   border: none;
}

main {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

/* Styling numbers */
.numbers {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 1rem;
}

.numbers .row {
   display: grid;
   gap: 1rem;
   margin: 0;
   padding: 0;
}

.numbers .card {
   line-height: 100%;
   height: fit-content;
   padding: 0 !important;
   border: 1px solid var(--white-color);
}

.numbers .card.this {
   border: 1px solid var(--primary-color);
}

.numbers .card hr {
   margin: 0;
   border-color: var(--primary-color);
}

.numbers .card.this hr {
   border-color: var(--white-color);
}

.numbers .card .numberWrapper {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   flex-wrap: wrap;
   gap: 0.5rem 2rem;
}

.numbers .card .numberWrapper .fullRow {
   grid-column: 1/4;
}

.numbers .card .numberWrapper.this {
   margin-bottom: 1rem;
}

.numbers .card .item {
   display: grid;
   gap: 0.2rem;
}

.numbers .card .digits {
   font-size: 1.2rem;
   letter-spacing: -0.05rem;
}

.numbers .card .digits.green {
   color: var(--primary-color);
}

.numbers .card .label {
   display: block;
   font-size: 0.8rem;
}

.numbers .card .cardHeading {
   font-size: 0.8rem;
   font-weight: 300;
}

/* card body */
.numbers .card .card-body {
   padding: 1rem 1.25rem;
}

/* card footer */
.numbers .card .card-footer {
   padding: 1rem 1.25rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: transparent;
   border-color: var(--primary-color-light);
   height: fit-content;
   font-size: 0.9rem !important;
}

.numbers .card .arrowValue {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0.5rem;
}

.table header {
   padding: 0 !important;
}

.tableWrapper header {
   padding-bottom: 0.9rem !important;
}

.tableWrapper {
   margin: 0 !important;
   padding: 0 !important;
}

.tableSubHeaderComponent {
   display: flex;
   justify-content: space-between;
   align-items: center;
   gap: 3rem;
   width: 100%;
}

.tableSubHeaderComponent .headingWrapper {
   display: flex;
   align-items: baseline;
   gap: 1rem;
   white-space: nowrap;
}

.tableSubHeaderComponent .headingWrapper a {
   font-size: 0.9rem;
   display: inline-block;
   background-color: var(--primary-color-light);
   color: var(--primary-color);
   padding: 3px 10px;
   border-radius: 3px;
}

.tableSubHeaderComponent .headingWrapper a:hover {
   background: var(--primary-color);
   color: var(--white-color);
}

.tableSubHeaderComponent .form-control {
   max-width: 400px;
   font-size: 1rem;
}

.chartWrapper {
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.chartGrid {
   display: grid;
   gap: 1rem;
   grid-template-columns: 1fr 1fr 1fr;
}

.chartGrid.filterCharts .col-span-2 {
   grid-column-start: 1;
   grid-column-end: 3;
}

.divider {
   border-radius: 0;
   height: 40px;
   background: var(--light-color) !important;
   margin-block: 1rem;
}

.filterToolbar {
   border-radius: 5px;
   margin: 0 !important;
   padding: 0 !important;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   gap: 1rem;
   min-height: initial !important;
}

.filterButtonWrapper {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 0;
   padding: 0;
   margin: 0;
   border-radius: 5px;
   overflow: hidden;
}

.filterButtonWrapper button {
   border-radius: 0;
   padding: 1rem 1rem;
   min-width: 100px;
}

.FilterFormControl {
   min-width: 250px;
   font-size: 1rem;
   padding: 0;
}

.loginGrid {
   max-width: 500px;
   width: 100%;
   margin: 50px auto;
   background-color: #7700ff;
   display: flex;
   flex-direction: column !important;
   gap: 1rem;
}

.hamburgerMenu {
   display: none;
}

.item-form {
   display: grid;
   gap: 0.7rem;
}
.item-form > div,
.item-form .grid > div {
   display: grid;
   gap: 0.1rem;
}
.item-form .grid.grid-2 {
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 0.7rem;
}
.item-form * {
   padding: 0;
}
.item-form .mr-2 {
   padding-right: 0.5rem;
}
.item-form .label {
   font-weight: 500 !important;
   font-size: 0.95rem;
}
.item-form .MuiFormHelperText-root {
   margin: 0 !important;
}
.drop-down-menu{
   position: absolute;
   background-color: white;
   display: block;
   padding: 20px;
   padding-left: 0px;
   border-radius: 12px;
   top: 4rem;
   right: 1rem;
   z-index: 99;
   align-items: center;
   box-shadow: 0px 30px 100px 20px rgba(50, 50, 93, 0.25);
}
.drop-down-menu ul li{
   list-style-type: none;
   padding: 10px;
   
}

@media screen and (max-width: 768px) {
   body {
      font-size: 14px;
   }

   .header {
      gap: 2rem;
   }

   .numbers {
      grid-template-columns: repeat(1, 1fr);
   }

   .numbers .row {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
   }

   .addItemFloating {
      right: 20px;
      bottom: 20px;
   }

   .chartGrid {
      grid-template-columns: 1fr;
   }

   .chartGrid.normalCharts {
      grid-template-columns: 1fr 1fr;
   }

   .chartGrid.normalCharts .col-span-2 {
      grid-column-start: 1;
      grid-column-end: 3;
   }

   .tableSubHeaderComponent .headingWrapper {
      flex-direction: column;
      gap: 0.25rem;
   }

   .filterToolbar {
      flex-direction: column;
   }

   .filterButtonWrapper {
      width: 100%;
   }

   .filterButtonWrapper button {
      flex: 1;
      padding: 0.8rem;
   }

   .FilterFormControl {
      width: 100%;
   }

   .header .ctaWrapper {
      display: none;
   }

   .mobile-menu-link {
      position: absolute;
      background-color: white;
      display: block;
      width: 100%;
      top: 4rem;
      z-index: 99;
      align-items: center;
      box-shadow: 0px 30px 100px 20px rgba(50, 50, 93, 0.25);
   }

   .mobile-menu-link .linkBtn,
   .mobile-menu-link .username-text {
      margin-block: 1rem;
      padding-inline: 1rem;
   }

   .mobile-menu-link .username-text {
      border-bottom: 1px solid var(--primary-color-light);
      font-style: italic;
      margin-bottom: 4px;
      padding-bottom: 1rem;
   }

   .mobile-menu-link .linkBtn.logout {
      color: red;
   }

   .hamburgerMenu {
      display: grid;
      place-content: center;
      aspect-ratio: 1 / 1 !important;
      width: 40px;
      cursor: pointer;
   }
}

@media screen and (max-width: 500px) {
   .header .ctaWrapper {
      gap: 0.5rem;
      flex-direction: column;
      align-items: flex-end;
   }
   .item-form .grid.grid-2 {
      grid-template-columns: 1fr;
   }
}
