.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
   width: 100%;
}

.tr-row {
   padding: 10px 5px;
}
#demo-controlled-radio-buttons-group {
   font-weight: bolder;
}

.css-i44wyl{
   width: 100%;
}